@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@mixin btn-black {
    background-color: black;
    color: white;
}
@mixin btn {
    width: 100px;
    height: 45px;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
@mixin violet {
    color: rgb(189, 122, 189);
}
@mixin grey {
    color: rgb(153, 147, 147);
}
@mixin sage {
    color: rgb(195, 226, 216);
}
@mixin curr {
    border-bottom: thin dashed gray;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    border-bottom: thin dashed gray;
    padding: 1%;
}
body {
    width: 100%;
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
}
.input {
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    height: 40px;
    border-radius: 7px;
    border: solid 1px rgb(153, 147, 147);
}
.header {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(195, 226, 216);
}
/* weather */
.weather {
    width: 20%;
    display: flex;
    flex-direction: column;
    .weather__title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 52px;
        @include violet;
    }
    .weather__form {
        display: flex;
        justify-content: space-between;
        max-width: 280px;
        gap: 3px;
        border-radius: 6px;
        .weather__btn {
            @include btn;
        }
    }
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    height: 90px;
    width: 150px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}
.card::before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: -10px;
    z-index: -1;
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    border-radius: 6px;
}
.card-city {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}
.card-city span {
    display: inline-block;
    vertical-align: text-top;
    padding: 3px 5px;
    background: #e5464f;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 9px;
    line-height: 1;
}
.card-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-value {
    font-size: 30px;
    line-height: 1;
    color: #000000;
}
.card-value sup {
    font-size: 50%;
}
.card-img {
    width: 50px;
}
.card-description {
    font-size: 12px;
}
// joke section
.joke-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
  
  
    &__container {
  
  
      padding: 10px;
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
    }
   
    &__text {
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      @include grey;
      max-height: 200px;
      margin: 0 10px;
      word-wrap: break-word;
    }
  }
  
//currency
.currency {
    width: 13%;
    border: 2px solid rgb(196, 141, 173);
    border-radius: 10px;
    padding: 1%;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: rgb(140, 133, 133);
    display: flex;
    flex-direction: column;
    float: right;
        .currency__USD {
            @include curr;
        }
        .currency__EUR {
            @include curr;
        }
        .currency__GBP {
            @include curr;
        }
        .currency__CNY {
            @include curr;
        }
    }
//todo list & chart
.main {
    display: flex;
    box-sizing: border-box;
    .main__todo {
        width: 30%;
        padding: 10px;
        .main__todo-title {
            padding: 20px 0;
            font-size: 20px;
            @include grey;
        }
        .title-new {
            @include violet;
        }
        .main__todo-btn {
            @include btn;
        }
        .btn-delete {
            @include btn-black;
        }
        .main__todo-message {
            padding-top: 20px;
            font-size: 20px;
        }
        .main__todo-list {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            font-size: 15px;
            margin-bottom: 40px;
            width: 60%;
            .main__todo-bullet {
                display: flex;
                justify-content: space-between;
                .checkbox {
                    accent-color: rgb(189, 122, 189);
                    width: 15px;
                    height: 15px;
                    align-self: flex-end;
                    cursor: pointer;
                }
                .bullet {
                    width: 50%;
                }
            }
        }
        .main__todo-doughnut {
            padding-top: 20px;
            max-width: 230px;
        }
    }
    .main__chart {
        width: 70%;
    }
}
//calendar
.main__calendar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    display: flex;
    border-radius: 10px;
    background-color: #373c4f;
}
.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 5px;
    background-color: #fff;
}
.month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .card-value {
    font-size: 50px;
    line-height: 1;
  
    color: #000000;
  }
  
  .card-value sup {
    font-size: 50%;
  }
  
  .card-img {
    width: 55px;
  }
  
  .card-description {
    font-size: 15px;
    line-height: 1.2;
  }
  .weather-btn {
    @include btn;
  }

  // joke section

  .ilmira {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #e3f1f6; 
  
    &__joke-container {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }
    &__joke {
      font-family: 'Quicksand', sans-serif;
      font-size: 16px;
      color: rgb(100, 100, 100); 
    }
  }
}

//currency
.currency {
    width: 20%;
    border: medium solid rgb(196, 141, 173);
    border-radius: 20%;
    padding: 1%;
        .currency__USD {
             @include curr;
        }
        .currency__EUR {
            @include curr;
        }
        .currency__CAD {
            @include curr;
        }
        .currency__GBP {
            @include curr;
        }
        .currency__CNY {
            @include curr;
        }
        .currency__JPY {
            @include curr;
        }
    }


